@import "tailwindcss";

/* Define color variables for light and dark themes */
:root {
  --color-primary: #0077ff;
  --color-background: #f9f9f9;
  --color-secondary: #6678a1;
}

.dark {
  --color-primary: #4caf50;
  --color-background: #121212;
  --color-secondary: #851792;

}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-background {
  background-color: var(--color-background);
}


.text-mask {
  background: url("your-video.mp4");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
}
