@import "tailwindcss";

/* Define color variables for light and dark themes */
:root {
  --color-primary: #1447e6;
  --color-background: #f9f9f9;
  --color-background-secondary: #e4e8ef;
  --color-background-theme:#1447e6; 
  --color-secondary: #1e2939;

  --color-gradient-nav-start: #1447e6;
  --color-gradient-nav-end: #1c398e;
  --color-gradient-start: #eff6ff;
  --color-gradient-end: oklch(0.962 0.018 272.314);
}

.dark {
  --color-primary: #ffffff;
  --color-background: #121212;
  --color-background-secondary: #364153;
  --color-secondary: #d1d5dc;
  --color-background-theme:#ffffff; 


  --color-gradient-nav-start: #1e2939;
  --color-gradient-nav-end: #101828;
  --color-gradient-start: #1e2939;
  --color-gradient-end: #101828;
}

.bg-primary {
  background-color: var(--color-background);
}
.bg-secondary {
  background-color: var(--color-background-secondary);
}

.bg-theme {
  background-color: var(--color-background-theme);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-contrast {
  color: var(--color-background);
}

.bg-background {
  background-color: var(--color-background);
}

.nav-theme-gradient {
  background: linear-gradient(to right, var(--color-gradient-nav-start), var(--color-gradient-nav-end));
}

.bg-theme-gradient {
  background: linear-gradient(to right, var(--color-gradient-start), var(--color-gradient-end));
}

.text-mask {
  background: url("your-video.mp4");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
}
