@import "tailwindcss";

/* Define color variables for light and dark themes */
:root {
  --color-primary: #1447e6;
  --color-background: #f9f9f9;
  --color-background-secondary: #dce2ea;
  --color-background-theme:#1447e6; 
  --color-secondary: #1e2939;

  --color-gradient-nav-start: #1447e6;
  --color-gradient-nav-end: #1c398e;
  --color-card-gradient-start: #1447e6;
  --color-card-gradient-end: #1c398e;
  --color-gradient-start: #eff6ff;
  --color-gradient-end: oklch(0.962 0.018 272.314);

  --color-background-card:#ffffff;
  
  --color-bg-green:#daffe7;
  --color-text-green:oklch(0.723 0.219 149.579);
  
  --color-bg-blue:#dbeafe;
  --color-text-blue:#155dfc;

  --color-text-gradient-start: #eff6ff ;
  --color-text-gradient-mid: oklch(0.962 0.018 272.314) ;
  --color-text-gradient-end: #ffffff;
}

.dark {
  --color-primary: #ffffff;
  --color-background: #121212;
  --color-background-secondary: #364153;
  --color-secondary: #d1d5dc;
  --color-background-theme:#ffffff; 

  --color-background-card:#364154;

  --color-gradient-nav-start: #1e2939;
  --color-gradient-nav-end: #101828;
  --color-gradient-start: #1e2939;
  --color-gradient-end: #101828;
  --color-text-gradient-start: #101828;
  --color-text-gradient-mid: #1e1a4d;
  --color-text-gradient-end: #000000;

  --color-bg-green:#166436;
  --color-text-green:oklch(0.723 0.219 149.579);

  --color-bg-blue:#1c398e;
  --color-text-blue:#7799ff;

  --color-card-gradient-start:#364153;
  --color-card-gradient-end:#172135;
}

.bg-primary {
  background-color: var(--color-background);
}
.bg-secondary {
  background-color: var(--color-background-secondary);
}

.bg-theme {
  background-color: var(--color-background-theme);
}

.bg-background {
  background-color: var(--color-background);
}

.bg-contrast {
  background-color: var(--color-secondary);
}

.bg-blue {
  background-color: var(--color-text-blue);
}

.bg-card {
  background-color: var(--color-background-card);
}

.text-primary {
  color: var(--color-primary);
}

.text-blue {
  color: var(--color-text-blue);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-contrast {
  color: var(--color-background);
}

.border-contrast {
  border: 1px solid var(--color-secondary);
}

.nav-theme-gradient {
  background: linear-gradient(to right, var(--color-gradient-nav-start), var(--color-gradient-nav-end));
}

.bg-theme-gradient {
  background: linear-gradient(to right, var(--color-gradient-start), var(--color-gradient-end));
}

.card-green {
  background-color: var(--color-bg-green);
  color: var(--color-text-green);
}

.card-blue {
  background-color: var(--color-bg-blue);
  color: var(--color-text-blue);
}

.card-theme-gradient {
  background: linear-gradient(to right, var(--color-card-gradient-start), var(--color-card-gradient-end));
}

.text-theme-gradient {
  background: linear-gradient(to bottom right, var(--color-text-gradient-start), var(--color-text-gradient-mid), var(--color-text-gradient-end));
}

.text-mask {
  background: url("your-video.mp4");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
}


